<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.starchain.mapper.MallCommodityDao" >
    <resultMap id="commodityMap" type="com.starchain.po.MallCommodity">
        <id property="commodityId" column="commodity_id"/>
        <result property="commodityName" column="commodity_name"/>
        <result property="sellerUserId" column="seller_user_id"/>
        <result property="commodityPrice" column="commodity_price"/>
        <result property="commodityStatus" column="commodity_status"/>
        <result property="commodityInfo" column="commodity_info"/>
        <result property="commodityCreateTime" column="commodity_create_time"/>
        <result property="commodityCreateDate" column="commodity_create_date"/>
        <result property="commodityUpdateTime" column="commodity_update_time"/>
        <result property="commodutyUpdateDate" column="commodity_update_date"/>
    </resultMap>


    <!--所有的商品信息-->
    <sql id="commodity_columns">
        commodity_id,seller_user_id,commodity_name,commodity_price,commodity_status,commodity_info,commodity_create_time,commodity_create_date,
        commodity_update_time,commodity_update_date
    </sql>


    <!--添加商品-->
    <insert id="addCommodity" parameterType="com.starchain.po.MallCommodity" keyProperty="commodityId" useGeneratedKeys="true">
        INSERT INTO ico_mall_commodity
        SET commodity_id=#{commodityId},commodity_name=#{commodityName},seller_user_id=#{sellerUserId},commodity_price=#{commodityPrice},
        commodity_status=#{commodityStatus},commodity_create_time=#{commodityCreateTime},commodity_create_date=#{commodityCreateDate}

    </insert>

</mapper>
