<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="resource/css/base.css">
    <link rel="stylesheet" href="resource/css/style.css">
    <link rel="stylesheet" href="resource/font/iconfont.css">
    <script src="resource/js/jquery-3.2.1.min.js"></script>

</head>
<body>

<div id="header_m">
    <div class="header">
        <a id="logo" href="/">
            <img src="resource/img/f_logo.png" alt="">
        </a>
        <ul id="nav">
            <li><a href="../../index.jsp">首页 <i></i></a></li>
            <li><a href="">ICO中<i></i></a></li>
            <li><a href="">ICO预热<i></i></a></li>
            <li><a href="">ICO项目库<i></i></a></li>
            <li><a href="">交易中心<i></i></a></li>
            <li><a href="information_disclosure.html">信息披露<i></i></a></li>
            <li><a href="">我要ICO<i></i></a></li>
        </ul>

        <div id="loginAndR">
            <div>
                <a href="" style="margin-right: 20px">帮助中心</a>
            </div>

            <div>
                <a style="margin-top: 14px" href="">
                    <span class="iconfont icon-yonghu"></span>
                    <span class="iconfont icon-triangledownfill"></span>
                </a>
                <div>
                    <span class="iconfont icon-triangleupfill"></span>
                    <i></i>
                    <ul>
                        <li><a href="member.html">会员中心</a></li>
                        <li><a href="">我参与的项目</a></li>
                        <li><a href="">ETH明细</a></li>
                        <li><a href="">退出</a></li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>
<!--<div id="header_f"></div>-->

<div id="xxpl_banner">
    <img src="resource/img/ksICO.jpg" alt="">
    <h1>安全便捷的<b>金融区块链</b>服务</h1>
</div>

<div id="xxpl">
    <ul id="tab">
        <li class="li1 li">
            最新披露
            <div class="san"></div>
        </li>
        <li class="li2">
            我的披露
            <div class="san"></div>
        </li>
        <li class="li3">
            信息检索
            <div class="san"></div>
        </li>
    </ul>
    <div id="seach">
        <form action="">
            <input type="search" placeholder="请输入关键词" name="seach">
            <select>
                <option value="">请选择项目</option>
                <option value="">1</option>
                <option value="">1</option>
                <option value="">1</option>
            </select>
            <select>
                <option value="">请选择时间区间</option>
                <option value="">1</option>
                <option value="">1</option>
                <option value="">1</option>
            </select>
            <input type="image" src="resource/img/seach.png">
        </form>

    </div>
    <div class="xxpl">
        <ul class="xxpl_main xxpl_main1">
            <li class="xxpl_main_li">
                <div class="time">
                    <p>8月11日</p>
                    <div class="san"></div>
                </div>
                <div class="solidAndRound">
                    <div class="round"></div>
                </div>
                <div class="imgAndTxt">
                    <a href="">
                        <img src="resource/img/1.jpg" alt="">
                        <div>
                            <h2>Delphy白皮书解读: 预测市场如何保证准确性，打破专家预测垄断</h2>
                            <p>预测市场，又被称为“信息市场”、“观点市场”和“事件市场”，通过参与者交易特定事件发生概率的合约，形成一个市场预期来预测未来。近日， 国内首个基于区块链的预测市场Delphy发布了自己的白皮书.....</p>
                        </div>
                    </a>

                </div>
            </li>
            <li>
                <div class="time">
                    <p>8月11日</p>
                    <div class="san"></div>
                </div>
                <div class="solidAndRound">
                    <div class="round"></div>
                </div>
                <div class="imgAndTxt">
                    <a href="">
                        <img src="resource/img/2.jpg" alt="">
                        <div>
                            <h2>一起预见未来，国内首个预测市场开源项目发布白皮书</h2>
                            <p>对于想要进行ICO的科技创业公司来说,他们已经又足够的成功经验可以借鉴,也又很多教训可以学习.但往往容易被忽略的是那些支持ICO的虚拟货币交易平台,他们再将一个新开发的币种投入使用的时候也面临很大.....</p>
                        </div>
                    </a>

                </div>
            </li>


        </ul>
        <ul class="xxpl_main xxpl_main2">
            <li class="xxpl_main_li">
                <div class="time">
                    <p>8月11日</p>
                    <div class="san"></div>
                </div>
                <div class="solidAndRound">
                    <div class="round"></div>
                </div>
                <div class="imgAndTxt">
                    <a href="">
                        <img src="resource/img/4.jpg" alt="">
                        <div>
                            <h2>比原链矿工能为人工智能做些什么？  </h2>
                            <p>用户模型是比原链在最初就需要确定的重要数据结构,团队的选择还是聚焦在两种典型的模型系统中,Account模型和UTXO模型,和其他大多数区块链设计一样,选择了模型就决定了协议层的重要实现,两种.....</p>
                        </div>
                    </a>

                </div>
            </li>
            <li>
                <div class="time">
                    <p>8月11日</p>
                    <div class="san"></div>
                </div>
                <div class="solidAndRound">
                    <div class="round"></div>
                </div>
                <div class="imgAndTxt">
                    <a href="">
                        <img src="resource/img/3.jpg" alt="">
                        <div>
                            <h2>比原链设计思考: 扩展性UTXO模型</h2>
                            <p>近日，比原链（Bytom）正式发布白皮书。白皮书详细介绍了Bytom Blockchain Protocol（简称比原链：Bytom），一个针对资产领域的专用性公链平台，其最重要的功能就是联通原子世界与比特世界.....</p>
                        </div>
                    </a>

                </div>
            </li>


        </ul>

    </div>
</div>

<div id="foot">
    <div class="foot">
        <div class="foot_head">
            联系我们
            <i class="san"></i>
        </div>
        <div>
            <span class="iconfont icon-dingwei"></span>
            <div>
                <h2>联系我们</h2>
                <p><span class="iconfont icon-dingwei"></span>地址：杭州市西湖区学院路德力西大神九楼 </p>
                <p><span class="iconfont icon-youjian-copy"></span>客服电话：0571-28070506 传真：0571-86462577 </p>
            </div>

        </div>
        <div>
            <span class="iconfont icon-lianjie"></span>
            <div>
                <h2>友情链接</h2>
                <p><span class="iconfont icon-lianjie"></span>金融区块链</p>
                <p><span class="iconfont icon-lianjie"></span>金融区块链</p>
                <p><span class="iconfont icon-lianjie"></span>金融区块链</p>
            </div>

        </div>
        <div>
            <span class="iconfont icon-bf-message"></span>
            <div>
                <h2>官方微信</h2>
                <p>区块链微信公众号</p>
                <p>扫一扫，关注我们</p>
            </div>

        </div>
        <div>
            <img src="resource/img/ewm.png" alt="">
        </div>
    </div>
</div>

<div id="footer">
    <div class="footer">
        <img src="resource/img/f_logo.png" alt="">
        <p>版权所有 Copyright &copy; 2017 上海链贤信息科技有限公司 浙ICP备13007554号-17</p>
    </div>
</div>

</body>
<script src="resource/js/main.js"></script>
</html>