<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="resource/css/mall.css">
    <link rel="stylesheet" href="resource/font/iconfont.css">
    <script src="resource/js/jquery-3.2.1.min.js"></script>
</head>
<body>
<div id="header">
    <div class="header">
        <div id="logo">
            <img src="resource/img/logo_head2.png" alt="">
            <h1>链贤艺人商城</h1>
        </div>

        <div id="header_r">
            <div id="seach">
                <span class="iconfont icon-seach"></span>
                <input type="search" name="seach">
            </div>
            <div id="shoppingCar">
                <span class="iconfont icon-gouwuchekong"></span>
                <i id="shopNub">0</i>
            </div>

            <div id="center">
                <span class="iconfont icon-yonghu"></span>
                <span class="iconfont icon-xiajiantou"></span>
                <div>
                    <span class="iconfont icon-shangjiantou"></span>
                    <ul>
                        <li><a href="">个人中心</a></li>
                        <li><a href="">我的订单</a></li>
                        <li><a href="">我的收货地址</a></li>
                        <li><a href="">退出</a></li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>
<div id="banner">
    <ul id="banner_img">
        <li><a href=""><img src="resource/img/shop_banner.jpg" alt=""></a></li>
        <li><a href=""><img src="resource/img/shop_banner.jpg" alt=""></a></li>
        <li><a href=""><img src="resource/img/shop_banner.jpg" alt=""></a></li>
    </ul>
    <div id="page">
        <ul>
            <!--<li class="page_color"></li>-->
            <!--<li></li>-->
            <!--<li></li>-->
        </ul>
    </div>

</div>
<div id="nav">
    <ul>
        <li><a href=""><img src="resource/img/gwzb.png" alt="">
            <p>艺人周边</p></a></li>
        <li><a href=""><img src="resource/img/yryy.png" alt="">
            <p>艺人影音</p></a></li>
        <li><a href=""><img src="resource/img/yrbh.png" alt="">
            <p>艺人百货</p></a></li>
    </ul>
</div>
<div id="main">
    <ul>
        <li>
            <a href="">
                <div class="img_div">
                    <img src="resource/img/sp.jpg" alt="">
                </div>
                <div class="txt_div">
                    <p>
                        Beats urBeats 入耳式耳机 手机耳机三键线控带麦
                    </p>
                    <b>￥559</b>
                </div>
                <div class="tj">特价</div>
            </a>
        </li>
        <li>
            <a href="">
                <div class="img_div">
                    <img src="resource/img/sp.jpg" alt="">
                </div>
                <div class="txt_div">
                    <p>
                        Beats urBeats 入耳式耳机 手机耳机三键线控带麦
                    </p>
                    <b>￥559</b>
                </div>
                <div class="tj">特价</div>
            </a>
        </li>
        <li>
            <a href="">
                <div class="img_div">
                    <img src="resource/img/sp.jpg" alt="">
                </div>
                <div class="txt_div">
                    <p>
                        Beats urBeats 入耳式耳机 手机耳机三键线控带麦
                    </p>
                    <b>￥559</b>
                </div>
                <div class="tj">特价</div>
            </a>
        </li>
        <li>
            <a href="">
                <div class="img_div">
                    <img src="resource/img/sp.jpg" alt="">
                </div>
                <div class="txt_div">
                    <p>
                        Beats urBeats 入耳式耳机 手机耳机三键线控带麦
                    </p>
                    <b>￥559</b>
                </div>
                <div class="tj">特价</div>
            </a>
        </li>
        <li>
            <a href="">
                <div class="img_div">
                    <img src="resource/img/sp.jpg" alt="">
                </div>
                <div class="txt_div">
                    <p>
                        Beats urBeats 入耳式耳机 手机耳机三键线控带麦
                    </p>
                    <b>￥559</b>
                </div>
                <div class="tj">特价</div>
            </a>
        </li>
        <li>
            <a href="">
                <div class="img_div">
                    <img src="resource/img/sp.jpg" alt="">
                </div>
                <div class="txt_div">
                    <p>
                        Beats urBeats 入耳式耳机 手机耳机三键线控带麦
                    </p>
                    <b>￥559</b>
                </div>
                <div class="tj">特价</div>
            </a>
        </li>
        <li>
            <a href="">
                <div class="img_div">
                    <img src="resource/img/sp.jpg" alt="">
                </div>
                <div class="txt_div">
                    <p>
                        Beats urBeats 入耳式耳机 手机耳机三键线控带麦
                    </p>
                    <b>￥559</b>
                </div>
                <div class="tj">特价</div>
            </a>
        </li>
        <li>
            <a href="">
                <div class="img_div">
                    <img src="resource/img/sp.jpg" alt="">
                </div>
                <div class="txt_div">
                    <p>
                        Beats urBeats 入耳式耳机 手机耳机三键线控带麦
                    </p>
                    <b>￥559</b>
                </div>
                <div class="tj">特价</div>
            </a>
        </li>
        <li>
            <a href="">
                <div class="img_div">
                    <img src="resource/img/sp.jpg" alt="">
                </div>
                <div class="txt_div">
                    <p>
                        Beats urBeats 入耳式耳机 手机耳机三键线控带麦
                    </p>
                    <b>￥559</b>
                </div>
                <div class="tj">特价</div>
            </a>
        </li>
        <li>
            <a href="">
                <div class="img_div">
                    <img src="resource/img/sp.jpg" alt="">
                </div>
                <div class="txt_div">
                    <p>
                        Beats urBeats 入耳式耳机 手机耳机三键线控带麦
                    </p>
                    <b>￥559</b>
                </div>
                <div class="tj">特价</div>
            </a>
        </li><li>
        <a href="">
            <div class="img_div">
                <img src="resource/img/sp.jpg" alt="">
            </div>
            <div class="txt_div">
                <p>
                    Beats urBeats 入耳式耳机 手机耳机三键线控带麦
                </p>
                <b>￥559</b>
            </div>
            <div class="tj">特价</div>
        </a>
    </li>
        <li>
            <a href="">
                <div class="img_div">
                    <img src="resource/img/sp.jpg" alt="">
                </div>
                <div class="txt_div">
                    <p>
                        Beats urBeats 入耳式耳机 手机耳机三键线控带麦
                    </p>
                    <b>￥559</b>
                </div>
                <div class="tj">特价</div>
            </a>
        </li>
        <li>
            <a href="">
                <div class="img_div">
                    <img src="resource/img/sp.jpg" alt="">
                </div>
                <div class="txt_div">
                    <p>
                        Beats urBeats 入耳式耳机 手机耳机三键线控带麦
                    </p>
                    <b>￥559</b>
                </div>
                <div class="tj">特价</div>
            </a>
        </li>
        <li>
            <a href="">
                <div class="img_div">
                    <img src="resource/img/sp.jpg" alt="">
                </div>
                <div class="txt_div">
                    <p>
                        Beats urBeats 入耳式耳机 手机耳机三键线控带麦
                    </p>
                    <b>￥559</b>
                </div>
                <div class="tj">特价</div>
            </a>
        </li>
        <li>
            <a href="">
                <div class="img_div">
                    <img src="resource/img/sp.jpg" alt="">
                </div>
                <div class="txt_div">
                    <p>
                        Beats urBeats 入耳式耳机 手机耳机三键线控带麦
                    </p>
                    <b>￥559</b>
                </div>
                <div class="tj">特价</div>
            </a>
        </li>
        <li>
            <a href="">
                <div class="img_div">
                    <img src="resource/img/sp.jpg" alt="">
                </div>
                <div class="txt_div">
                    <p>
                        Beats urBeats 入耳式耳机 手机耳机三键线控带麦
                    </p>
                    <b>￥559</b>
                </div>
                <div class="tj">特价</div>
            </a>
        </li>
        <li>
            <a href="">
                <div class="img_div">
                    <img src="resource/img/sp.jpg" alt="">
                </div>
                <div class="txt_div">
                    <p>
                        Beats urBeats 入耳式耳机 手机耳机三键线控带麦
                    </p>
                    <b>￥559</b>
                </div>
                <div class="tj">特价</div>
            </a>
        </li>
        <li>
            <a href="">
                <div class="img_div">
                    <img src="resource/img/sp.jpg" alt="">
                </div>
                <div class="txt_div">
                    <p>
                        Beats urBeats 入耳式耳机 手机耳机三键线控带麦
                    </p>
                    <b>￥559</b>
                </div>
                <div class="tj">特价</div>
            </a>
        </li>

    </ul>
</div>
<div id="footer">
    <div class="footer">
        <div class="footer_top">
            <img src="resource/img/foot.png" alt="">
        </div>
        <div class="footer_bot">
            <ul>
                <li><a href="">关于我们</a></li>
                <li><a href="">帮助中心</a></li>
                <li><a href="">售后服务</a></li>
                <li><a href="">配送与验收</a></li>
                <li><a href="">商务合作</a></li>
                <li><a href="">企业采购</a></li>
                <li><a href="">开放平台</a></li>
                <li><a href="">搜索推荐</a></li>
                <li><a href="">友情链接</a></li>
            </ul>
            <p>上海链贤科技有限公司版权所有 &copy; 2017 浙ICP备13007554号-17</p>
        </div>
    </div>
</div>
</body>
<script src="resource/js/mall.js"></script>
</html>