<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="resource/css/base.css">
    <link rel="stylesheet" href="resource/css/style.css">
    <link rel="stylesheet" href="resource/font/iconfont.css">
    <script src="resource/js/jquery-3.2.1.min.js"></script>

</head>
<body>

<div id="header_m">
    <div class="header">
        <a id="logo" href="/">
            <img src="resource/img/f_logo.png" alt="">
        </a>
        <ul id="nav">
            <li><a href="../../index.jsp">首页 <i></i></a></li>
            <li><a href="">ICO中<i></i></a></li>
            <li><a href="">ICO预热<i></i></a></li>
            <li><a href="">ICO项目库<i></i></a></li>
            <li><a href="">交易中心<i></i></a></li>
            <li><a href="information_disclosure.html">信息披露<i></i></a></li>
            <li><a href="">我要ICO<i></i></a></li>
        </ul>

        <div id="loginAndR">
            <div>
                <a href="" style="margin-right: 20px">帮助中心</a>
            </div>

            <div>
                <a style="margin-top: 14px" href="">
                    <span class="iconfont icon-yonghu"></span>
                    <span class="iconfont icon-triangledownfill"></span>
                </a>
                <div>
                    <span class="iconfont icon-triangleupfill"></span>
                    <i></i>
                    <ul>
                        <li><a href="member.html">会员中心</a></li>
                        <li><a href="">我参与的项目</a></li>
                        <li><a href="">ETH明细</a></li>
                        <li><a href="">退出</a></li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>
<div id="header_f"></div>

<div id="member">
    <div class="member">
        <div id="member1">
            <div class="member1_t">
                <div class="member1_t_l">
                    <span class="iconfont icon-yonghu"></span>
                    <div>
                        <h1>13858124842</h1>
                        <p>最近登录时间：2017-08-04 14</p>
                        <div><a href="" id="zl">修改资料</a><a href="" id="mm">修改密码</a></div>
                        <div><p><span class="iconfont icon-roundcheckfill"></span>邮箱验证</p>
                            <p><span class="iconfont icon-roundcheckfill"></span>实名认证</p>
                            <p><span class="iconfont icon-roundcheckfill"></span>谷歌二步认证</p></div>
                    </div>

                </div>
                <div class="member1_t_2 member1_t_m">
                    <h4>银行卡绑定</h4>
                    <p>银行卡号：622848040256489</p>
                    <div><a href="" id="yhk">重新绑定</a></div>
                </div>
                <div class="member1_t_2">
                    <h4>ETH地址</h4>
                    <p>ETH地址：62284804025648</p>
                    <div><a href="" id="dz">重新创建</a></div>
                </div>
            </div>
            <div class="member1_b">
                <p>您需要通过邮箱验证和实名验证，才能对钱包进行充值并参与项目</p>
                <div>
                    <a href="member_email.html">前往邮箱认证</a>
                    <a href="member_select.html">前往实名认证</a>
                </div>
            </div>
        </div>
        <div id="member2">
            <div class="member2_t">
                <ul>
                    <li class="member2_li1 member2_li_checked"><span class="iconfont icon-triangledownfill"></span>我的钱包</li>
                    <li class="member2_li2"><span class="iconfont icon-triangledownfill"></span>我的券包</li>
                </ul>
            </div>
            <div class="member2_b">
                <ul class="member2_ul1">
                    <li>
                        <p>ETH</p>
                        <p>1000.0</p>
                        <p><span class="iconfont icon-mima"></span>0.0</p>
                        <a href="">充值</a></li>
                    <li>
                        <p>ETH</p>
                        <p>0.0</p>
                        <p><span class="iconfont icon-mima"></span>0.0</p>
                        <a href="">充值</a></li>
                    <li>
                        <p>ETH</p>
                        <p>0.0</p>
                        <p><span class="iconfont icon-mima"></span>0.0</p>
                        <a href="">充值</a></li>
                    <li>
                        <p>ETH</p>
                        <p>0.0</p>
                        <p><span class="iconfont icon-mima"></span>0.0</p>
                        <a href="">充值</a></li>
                    <li>
                        <p>ETH</p>
                        <p>0.0</p>
                        <p><span class="iconfont icon-mima"></span>0.0</p>
                        <a href="">充值</a></li>
                    <li>
                        <p>ETH</p>
                        <p>0.0</p>
                        <p><span class="iconfont icon-mima"></span>0.0</p>
                        <a href="">充值</a></li>
                    <li>
                        <p>ETH</p>
                        <p>0.0</p>
                        <p><span class="iconfont icon-mima"></span>0.0</p>
                        <a href="">充值</a></li>
                    <li>
                        <p>ETH</p>
                        <p>0.0</p>
                        <p><span class="iconfont icon-mima"></span>0.0</p>
                        <a href="">充值</a></li>
                    <li>
                        <p>ETH</p>
                        <p>0.0</p>
                        <p><span class="iconfont icon-mima"></span>0.0</p>
                        <a href="">充值</a></li>
                    <li>
                        <p>ETH</p>
                        <p>0.0</p>
                        <p><span class="iconfont icon-mima"></span>0.0</p>
                        <a href="">充值</a></li>
                    <li>
                        <p>ETH</p>
                        <p>0.0</p>
                        <p><span class="iconfont icon-mima"></span>0.0</p>
                        <a href="">充值</a></li>
                    <li>
                        <p>ETH</p>
                        <p>0.0</p>
                        <p><span class="iconfont icon-mima"></span>0.0</p>
                        <a href="">充值</a></li>
                    <li>
                        <p>ETH</p>
                        <p>0.0</p>
                        <p><span class="iconfont icon-mima"></span>0.0</p>
                        <a href="">充值</a></li>
                    <li>
                        <p>ETH</p>
                        <p>0.0</p>
                        <p><span class="iconfont icon-mima"></span>0.0</p>
                        <a href="">充值</a></li>
                    <li>
                        <p>ETH</p>
                        <p>0.0</p>
                        <p><span class="iconfont icon-mima"></span>0.0</p>
                        <a href="">充值</a></li>
                    <li>
                        <p>ETH</p>
                        <p>0.0</p>
                        <p><span class="iconfont icon-mima"></span>0.0</p>
                        <a href="">充值</a></li>
                    <li>
                        <p>ETH</p>
                        <p>0.0</p>
                        <p><span class="iconfont icon-mima"></span>0.0</p>
                        <a href="">充值</a></li>
                    <li>
                        <p>ETH</p>
                        <p>0.0</p>
                        <p><span class="iconfont icon-mima"></span>0.0</p>
                        <a href="">充值</a></li>
                    <li>
                        <p>ETH</p>
                        <p>0.0</p>
                        <p><span class="iconfont icon-mima"></span>0.0</p>
                        <a href="">充值</a></li>
                    <li>
                        <p>ETH</p>
                        <p>0.0</p>
                        <p><span class="iconfont icon-mima"></span>0.0</p>
                        <a href="">充值</a></li>

                </ul>
                <ul class="member2_ul2">
                    <li>
                        <p>ETH2</p>
                        <p>0.0</p>
                        <p><span class="iconfont icon-mima"></span>100</p>
                        <a href="">充值</a></li>
                    <li>
                        <p>ETH</p>
                        <p>0.0</p>
                        <p><span class="iconfont icon-mima"></span>0.0</p>
                        <a href="">充值</a></li>
                    <li>
                        <p>ETH</p>
                        <p>0.0</p>
                        <p><span class="iconfont icon-mima"></span>0.0</p>
                        <a href="">充值</a></li>
                    <li>
                        <p>ETH</p>
                        <p>0.0</p>
                        <p><span class="iconfont icon-mima"></span>0.0</p>
                        <a href="">充值</a></li>
                    <li>
                        <p>ETH</p>
                        <p>0.0</p>
                        <p><span class="iconfont icon-mima"></span>0.0</p>
                        <a href="">充值</a></li>
                    <li>
                        <p>ETH</p>
                        <p>0.0</p>
                        <p><span class="iconfont icon-mima"></span>0.0</p>
                        <a href="">充值</a></li>
                    <li>
                        <p>ETH</p>
                        <p>0.0</p>
                        <p><span class="iconfont icon-mima"></span>0.0</p>
                        <a href="">充值</a></li>
                    <li>
                        <p>ETH</p>
                        <p>0.0</p>
                        <p><span class="iconfont icon-mima"></span>0.0</p>
                        <a href="">充值</a></li>
                    <li>
                        <p>ETH</p>
                        <p>0.0</p>
                        <p><span class="iconfont icon-mima"></span>0.0</p>
                        <a href="">充值</a></li>
                    <li>
                        <p>ETH</p>
                        <p>0.0</p>
                        <p><span class="iconfont icon-mima"></span>0.0</p>
                        <a href="">充值</a></li>
                    <li>
                        <p>ETH</p>
                        <p>0.0</p>
                        <p><span class="iconfont icon-mima"></span>0.0</p>
                        <a href="">充值</a></li>
                    <li>
                        <p>ETH</p>
                        <p>0.0</p>
                        <p><span class="iconfont icon-mima"></span>0.0</p>
                        <a href="">充值</a></li>
                    <li>
                        <p>ETH</p>
                        <p>0.0</p>
                        <p><span class="iconfont icon-mima"></span>0.0</p>
                        <a href="">充值</a></li>
                    <li>
                        <p>ETH</p>
                        <p>0.0</p>
                        <p><span class="iconfont icon-mima"></span>0.0</p>
                        <a href="">充值</a></li>
                    <li>
                        <p>ETH</p>
                        <p>0.0</p>
                        <p><span class="iconfont icon-mima"></span>0.0</p>
                        <a href="">充值</a></li>
                    <li>
                        <p>ETH</p>
                        <p>0.0</p>
                        <p><span class="iconfont icon-mima"></span>0.0</p>
                        <a href="">充值</a></li>
                    <li>
                        <p>ETH</p>
                        <p>0.0</p>
                        <p><span class="iconfont icon-mima"></span>0.0</p>
                        <a href="">充值</a></li>
                    <li>
                        <p>ETH</p>
                        <p>0.0</p>
                        <p><span class="iconfont icon-mima"></span>0.0</p>
                        <a href="">充值</a></li>
                    <li>
                        <p>ETH</p>
                        <p>0.0</p>
                        <p><span class="iconfont icon-mima"></span>0.0</p>
                        <a href="">充值</a></li>
                    <li>
                        <p>ETH</p>
                        <p>0.0</p>
                        <p><span class="iconfont icon-mima"></span>0.0</p>
                        <a href="">充值</a></li>

                </ul>
            </div>
        </div>
        <div id="member3">
                <div class="member3_t">
                    <h3>我参与的项目</h3>
                    <a href="">更多 <span class="iconfont icon-jia"></span></a>
                </div>
                <div class="member3_b">
                        <table>
                            <thead>
                            <tr>
                                <td>项目名称</td>
                                <td>参与币种</td>
                                <td>参与时间</td>
                                <td>参与数量</td>
                                <td>代币数量</td>
                                <td>状态</td>
                            </tr>
                            </thead>
                            <tr>
                                <td>1285606</td>
                                <td>OMG</td>
                                <td>2017-08-04 11:46:40</td>
                                <td>3000</td>
                                <td>2645</td>
                                <td>进行中</td>
                            </tr>
                            <tr>
                                <td>1285606</td>
                                <td>OMG</td>
                                <td>2017-08-04 11:46:40</td>
                                <td>3000</td>
                                <td>2645</td>
                                <td>进行中</td>
                            </tr>
                            <tr>
                                <td>1285606</td>
                                <td>OMG</td>
                                <td>2017-08-04 11:46:40</td>
                                <td>3000</td>
                                <td>2645</td>
                                <td>进行中</td>
                            </tr>
                            <tr>
                                <td>1285606</td>
                                <td>OMG</td>
                                <td>2017-08-04 11:46:40</td>
                                <td>3000</td>
                                <td>2645</td>
                                <td>进行中</td>
                            </tr>
                        </table>
                </div>
        </div>
        <div id="member4">
            <div class="member4_t">
                <ul>
                    <li class="member4_li1 member4_li_checked"><span class="iconfont icon-triangledownfill"></span>兑换ETH明细</li>
                    <li class="member4_li2"><span class="iconfont icon-triangledownfill"></span>代币买卖明细</li>
                    <li class="member4_li3"><span class="iconfont icon-triangledownfill"></span>商品买卖明细</li>
                </ul>
                <a href="">更多 <span class="iconfont icon-jia"></span></a>
            </div>
            <div class="member4_b">
                <div class="member4_table1">
                    <table>
                        <thead>
                        <tr>
                            <td>类型</td>
                            <td>时间</td>
                            <td>交易对象</td>
                            <td>价格</td>
                            <td>流出</td>
                            <td>流入</td>
                            <td>手续费</td>
                        </tr>
                        </thead>
                        <tr>
                            <td>买入</td>
                            <td>08-01 11:46</td>
                            <td>CNY/ETH</td>
                            <td>1489.99 CNY</td>
                            <td>25110.80147 CNY</td>
                            <td>25110.80147 CNY</td>
                            <td>0.01685 ETH</td>
                        </tr>
                        <tr>
                            <td>买入</td>
                            <td>08-04 11:46</td>
                            <td>CNY/ETH</td>
                            <td>1489.99 CNY</td>
                            <td>25110.80147 CNY</td>
                            <td>25110.80147 CNY</td>
                            <td>0.01685 ETH</td>
                        </tr>
                        <tr>
                            <td>买入</td>
                            <td>08-04 11:46</td>
                            <td>CNY/ETH</td>
                            <td>1489.99 CNY</td>
                            <td>25110.80147 CNY</td>
                            <td>25110.80147 CNY</td>
                            <td>0.01685 ETH</td>
                        </tr>
                        <tr>
                            <td>买入</td>
                            <td>08-04 11:46</td>
                            <td>CNY/ETH</td>
                            <td>1489.99 CNY</td>
                            <td>25110.80147 CNY</td>
                            <td>25110.80147 CNY</td>
                            <td>0.01685 ETH</td>
                        </tr>
                    </table>
                </div>
                <div class="member4_table2">
                    <table>
                        <thead>
                        <tr>
                            <td>类型</td>
                            <td>时间</td>
                            <td>交易对象</td>
                            <td>价格</td>
                            <td>流出</td>
                            <td>流入</td>
                            <td>手续费</td>
                        </tr>
                        </thead>
                        <tr>
                            <td>买入</td>
                            <td>08-02 11:46</td>
                            <td>CNY/ETH</td>
                            <td>1489.99 CNY</td>
                            <td>25110.80147 CNY</td>
                            <td>25110.80147 CNY</td>
                            <td>0.01685 ETH</td>
                        </tr>
                        <tr>
                            <td>买入</td>
                            <td>08-04 11:46</td>
                            <td>CNY/ETH</td>
                            <td>1489.99 CNY</td>
                            <td>25110.80147 CNY</td>
                            <td>25110.80147 CNY</td>
                            <td>0.01685 ETH</td>
                        </tr>
                        <tr>
                            <td>买入</td>
                            <td>08-04 11:46</td>
                            <td>CNY/ETH</td>
                            <td>1489.99 CNY</td>
                            <td>25110.80147 CNY</td>
                            <td>25110.80147 CNY</td>
                            <td>0.01685 ETH</td>
                        </tr>
                        <tr>
                            <td>买入</td>
                            <td>08-04 11:46</td>
                            <td>CNY/ETH</td>
                            <td>1489.99 CNY</td>
                            <td>25110.80147 CNY</td>
                            <td>25110.80147 CNY</td>
                            <td>0.01685 ETH</td>
                        </tr>
                    </table>
                </div>
                <div class="member4_table3">
                    <table>
                        <thead>
                        <tr>
                            <td>类型</td>
                            <td>时间</td>
                            <td>交易对象</td>
                            <td>价格</td>
                            <td>流出</td>
                            <td>流入</td>
                            <td>手续费</td>
                        </tr>
                        </thead>
                        <tr>
                            <td>买入</td>
                            <td>08-03 11:46</td>
                            <td>CNY/ETH</td>
                            <td>1489.99 CNY</td>
                            <td>25110.80147 CNY</td>
                            <td>25110.80147 CNY</td>
                            <td>0.01685 ETH</td>
                        </tr>
                        <tr>
                            <td>买入</td>
                            <td>08-04 11:46</td>
                            <td>CNY/ETH</td>
                            <td>1489.99 CNY</td>
                            <td>25110.80147 CNY</td>
                            <td>25110.80147 CNY</td>
                            <td>0.01685 ETH</td>
                        </tr>
                        <tr>
                            <td>买入</td>
                            <td>08-04 11:46</td>
                            <td>CNY/ETH</td>
                            <td>1489.99 CNY</td>
                            <td>25110.80147 CNY</td>
                            <td>25110.80147 CNY</td>
                            <td>0.01685 ETH</td>
                        </tr>
                        <tr>
                            <td>买入</td>
                            <td>08-04 11:46</td>
                            <td>CNY/ETH</td>
                            <td>1489.99 CNY</td>
                            <td>25110.80147 CNY</td>
                            <td>25110.80147 CNY</td>
                            <td>0.01685 ETH</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="foot">
    <div class="foot">
        <div class="foot_head">
            联系我们
            <i class="san"></i>
        </div>
        <div>
            <span class="iconfont icon-dingwei"></span>
            <div>
                <h2>联系我们</h2>
                <p><span class="iconfont icon-dingwei"></span>地址：杭州市西湖区学院路德力西大神九楼 </p>
                <p><span class="iconfont icon-youjian-copy"></span>客服电话：0571-28070506 传真：0571-86462577 </p>
            </div>

        </div>
        <div>
            <span class="iconfont icon-lianjie"></span>
            <div>
                <h2>友情链接</h2>
                <p><span class="iconfont icon-lianjie"></span>金融区块链</p>
                <p><span class="iconfont icon-lianjie"></span>金融区块链</p>
                <p><span class="iconfont icon-lianjie"></span>金融区块链</p>
            </div>

        </div>
        <div>
            <span class="iconfont icon-bf-message"></span>
            <div>
                <h2>官方微信</h2>
                <p>区块链微信公众号</p>
                <p>扫一扫，关注我们</p>
            </div>

        </div>
        <div>
            <img src="resource/img/ewm.png" alt="">
        </div>
    </div>
</div>

<div id="footer">
    <div class="footer">
        <img src="resource/img/f_logo.png" alt="">
        <p>版权所有 Copyright &copy; 2017 上海链贤信息科技有限公司 浙ICP备13007554号-17</p>
    </div>
</div>

<div class="tck_bg tck_mm">
    <div id="tck_mm">
        <div class="tck_head">
            <h1>密码修改</h1>
            <span class="iconfont icon-close"></span>
        </div>
        <div class="tck_bot">
            <form action="">
                <input type="password" id="oldPassword" placeholder="请输入你的原密码" required="required">
                <input type="password" id="newPassword" name="password" placeholder="请输入你的新密码" required="required">
                <input type="password" id="confirmNewPassword" placeholder="请再次输入你的新密码" required="required">
                <input type="submit" value="确认修改">
                <input type="button" value="取消">
                <input type="reset" hidden="hidden">
            </form>
        </div>
    </div>
</div>
<div class="tck_bg tck_zl">
    <div id="tck_xgzl">
        <div class="tck_head">
            <h1>修改资料</h1>
            <span class="iconfont icon-close"></span>
        </div>
        <div class="tck_bot">
            <div>
                <p>个人头像</p>
                <div id="tx_img">
                    <img src="resource/img/adolhead1.png" alt="">
                </div>
                <p>上传新头像</p>
            </div>
            <form action="">
                <input type="file" hidden="hidden" id="tx">
                <button>选择文件</button>
                <input type="tel" id="tel" placeholder="请输入你的原手机号码" required="required">
                <input type="tel" id="newTel" placeholder="请输入你的新手机号码" required="required">
                <div>
                    <i></i>
                    <p>授权验证</p>
                    <i></i>
                </div>
                <input type="text" id="zl_dx" placeholder="请输入短信验证码" required="required">
                <input type="button" id="zl_dxyzm" class="dxyzm" value="发送短信验证码">
                <input type="submit" value="确认修改">
                <input type="button" value="取消">
                <input type="reset" hidden="hidden">
            </form>
        </div>
    </div>
</div>
<div class="tck_bg tck_dz">
    <div id="tck_txdz">
        <div class="tck_head">
            <h1>新建区块链资产提现地址</h1>
            <span class="iconfont icon-close"></span>
        </div>
        <div class="tck_bot">

            <form action="">
                <input type="tel" id="eth" placeholder="ETH" required="required">
                <input type="tel" id="bq" placeholder="标签" required="required">
                <input type="tel" id="zcdz" placeholder="区块链资产地址" required="required">
                <div>
                    <i></i>
                    <p>授权验证</p>
                    <i></i>
                </div>
                <input type="text" id="zc_dx" placeholder="请输入短信验证码" required="required">
                <input type="button" id="zc_dxyzm" class="dxyzm" value="发送短信验证码">
                <input type="submit" value="确认修改">
                <input type="button" value="取消">
                <input type="reset" hidden="hidden">
            </form>
        </div>
    </div>
</div>
<div class="tck_bg tck_yhk">
    <div id="tck_yhk">
        <div class="tck_head">
            <h1>绑定银行卡</h1>
            <span class="iconfont icon-close"></span>
        </div>
        <div class="tck_bot">

            <form action="">
                <input type="text" id="name" placeholder="姓名" required="required">
                <input type="text" id="bank_name" placeholder="银行名称" required="required">
                <input type="tel" id="card_name" placeholder="借记卡名称" required="required">
                <input type="tel" id="kh_sf" placeholder="开户省份" required="required">
                <input type="tel" id="kh_cs" placeholder="开户城市" required="required">
                <input type="tel" id="kh_mc" placeholder="开户名称" required="required">
                <div>
                    <i></i>
                    <p>授权验证</p>
                    <i></i>
                </div>
                <input type="text" id="yhc_dx" placeholder="请输入短信验证码" required="required">
                <input type="button" id="yhk_dxyzm" class="dxyzm" value="发送短信验证码">
                <input type="submit" value="确认修改">
                <input type="button" value="取消">
                <input type="reset" hidden="hidden">
            </form>
        </div>
    </div>
</div>
<div class="tck_bg tck_tx">
    <div id="tck_tix">
        <div class="tck_head">
            <h1>提现</h1>
            <span class="iconfont icon-close"></span>
        </div>
        <div class="tck_bot">
            <div>
                <p><span>币种：ETH</span><span>余额：<b id="ye">200</b></span></p>
                <p>地址：<b>16161974161661116</b></p>
            </div>
            <form action="">

                    <p>提现金额</p>
                    <input type="tel" id="tix" required="required">
                    <button id="all">全部</button>


                <div>
                    <i></i>
                    <p>授权验证</p>
                    <i></i>
                </div>
                <input type="text" id="tix_dx" placeholder="请输入短信验证码">
                <input type="button" id="tix_dxyzm" class="dxyzm" value="发送短信验证码">
                <input type="submit" value="确认修改">
                <input type="button" value="取消">
                <input type="reset" hidden="hidden">
            </form>
        </div>
    </div>
</div>
<div class="tck_bg tck_cz">
    <div id="tck_cz">
        <div class="tck_head">
            <h1>ETH充值</h1>
            <span class="iconfont icon-close"></span>
        </div>
        <div class="tck_bot">
            <div>
                <p>请充值ETH到以下地址</p>
                <p>61116161614616162161</p>
                <img src="resource/img/ewm.png" alt="">
                <div class="icon-close">确定</div>
            </div>

        </div>
    </div>
</div>
</body>
<script src="resource/js/main.js"></script>
<script src="resource/js/member.js"></script>
</html>